<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="css/mypost_ejs.css">

	<title>POSTS</title>
</head>
<body>
	<section class="mypost">
		<div class="container mypost__container">
			<div class="mypost__data">
				<h2>THE LATEST POST </h2>
				<p>Time: <%= ts %></p>
				<p>Name: <b><%= name %></b></p>
				<p>LastName: <b><%= lastname %></b></p>
				<p>EMAIL: <b><%= email %></b></p>
				<p>NOTE: <b><%= note %></b></p>
				
			</div>
		</div>
	</section>
	
	
</body>
</html>